body {
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
  }
  
  table {
    border-collapse: separate;
    border-spacing: 0;
  }
  
  td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    border: none;
  }

  td:hover{
    background-color: rgba(255,255,255,0.3);

  }
  
  td:first-child {
    border-right: 5px solid white;
  }
  
  td:last-child {
    border-left: 5px solid white;
  }
  
  tr:first-child td {
    border-bottom: 5px solid white;
  }
  
  tr:last-child td {
    border-top: 5px solid white;
  }
  
  .circle {
    color: #2ecc71;
  }
  
  .cross {
    color: #e74c3c;
  }
  
  #content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70vh;
    position: relative;
  }

  header, h1{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    height: 5vh;
  }

  .center{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button{
    padding: 24px;
    background-color: #2ecc71;
    border: none;
  }

  button:hover{
    background-color: #51f093;
    cursor: pointer;

  }

  .mt-32{
    margin-top: 32px;
  }